   <nav class=" fixed bottom-10 right-2 h-30 bg-amber-400 ">
            <ul class="h-30 flex gap-2 p-2 justify-evenly items-center font-bold text-2xl text-neutral-100  font-mono" >
                <a href="{{path('app_home')}}">home</a>
                </li>
                <li>
                <a href="{{path('app_about')}}">about</a>
                </li>
                <li>
                <a href="{{path('app_contact')}}">contact</a>
                </li>
            </ul>
        </nav>