   <nav class="h-20 bg-emerald-700">
            <ul class="h-20 flex  justify-evenly items-center font-bold text-6xl text-neutral-200  font-mono" >
                <li>
                <a href="{{path('app_home')}}">home</a>
                </li>
                <li>
                <a href="{{path('app_about')}}">about</a>
                </li>
                <li>
                <a href="{{path('app_contact')}}">contact</a>
                </li>
            </ul>
        </nav>